.condition_label {
    font-size: 30px;
}
.main_temp_label {
    font-size: 4rem;
}

.btn_sm{
    font-size:.95rem;
    padding-top: .2rem;
    padding-bottom: .2rem;
}


.text-l1{
    font-size: 4rem;
}
.text-l2{
    font-size: 3.5rem;
}
.text-l3{
    font-size: 3rem;
}
.text-l4{
    font-size: 2.5rem;
}
.text-1{
    font-size: 2rem;
}
.text-2a{
    font-size: 1.8rem;
}
.text-2b{
    font-size: 1.5rem;
}
.text-3{
    font-size: 1.3rem;
}
.text-4{
    font-size: 1.1rem;
}
.text-5{
    font-size: 1.05rem;
}
.text-6{
    font-size: .95rem;
}
.text-7{
    font-size: 9rem;
}
.text-8{
    font-size: .85rem;
}
.text-9{
    font-size: .8rem;
}

.title-xl{
    font-size:76px;
}
.title-l{
    font-size:42px;
}
.title-m{
    font-size:22px;
}
.title-s{
    font-size:18px;
}

.light-1{
    opacity: .95;
}
.light-2{
    opacity: .9;
}
.light-3{
    opacity: .8;
}
.light-4{
    opacity: .75;
}
.light-5{
    opacity: .7;
}
.light-6{
    opacity: .6;
}


.bold-1{
    font-weight: 700;
}
.bold-2{
    font-weight: 600;
}
.bold-3{
    font-weight: 500;
}


.dark{
    color:#141414;
}

.main_window{
    border-radius:13px;
    border : 1px solid rgba(100, 100, 100,.3);
}


.overcast, .showers_scattered{
    background: linear-gradient(127deg, rgba(155, 155, 155, 1), rgba(0, 134, 215, 0) 100%),
                linear-gradient(217deg, rgba(155, 155, 155, 1), rgba(0, 134, 215, 1) 100%),
                linear-gradient(336deg, rgba(155, 155, 155, 1), rgba(0, 134, 218, 1) 100%);
}

.gradient-bg{
    background:linear-gradient(0deg, rgba(237,237,237,1) 0%, rgb(203, 221, 225) 100%);
}

.bg-white{
    background-color: rgb(240, 240, 240);
}

.custom_card{
    padding:.5rem 1rem;
}

.bar_container{
    border-radius: 1rem;
    background-color: rgb(240, 240, 240);

}

.custom_card_forecast_item{
    padding:1.1rem 2rem;
    border-radius: .5rem;
}

.bg_light_grey{
    background-color: #9a9a9a13;
}





.body{
    padding:20px;

}
/* .card{
    padding-left:20px;
    padding-right:20px;
    padding-top:16px;
    padding-bottom:16px;
} */


.card_info{
    background-color: #F6635C;
}
.bold{
    font-weight:600;
}
.title-xl{
    font-size:76px;
}
.title-m{
    font-size:22px;
}
.title-s{
    font-size:18px;
}
.bg-green {
    background-color: #00ff00; /* Replace with your desired color */
}
.bg-orange {
    background-color: #F6635C; /* Replace with your desired color */
}
.bg-pink {
    background-color: #FE7BE5; /* Replace with your desired color */
}